<!-- Modal -->
<div
  class="modal fade"
  id="editAddModal"
  tabindex="-1"
  aria-labelledby="editAddModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editAddModal">Select Products</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/admin/collection?_method=PUT" method="POST">
        <div class="modal-body">
          <input type="text" class="name" hidden name="name" />
          <input type="text" class="id" hidden name="id" />

          <table class="table" id="dataTable" cellspacing="0">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Products</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <% for( let i = 0; i < item.length; i++ ) { %>
              <tr>
                <td>
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="<%= item[i]._id %>"
                    value="<%= item[i]._id %>"
                    name="editBooks"
                  />
                </td>
                <td>
                  <% if (item[i].imageUrl == null) { %>
                  <embed
                    src="/images/book-solid.svg"
                    width="16px"
                    height="16px"
                  />
                  <% }else{ %>
                  <img
                    src="https://server-gaming-house.s3.amazonaws.com/<%= item[i].imageUrl %>"
                    width="16px"
                    height="16px"
                  />
                  <% } %>
                </td>
                <td>
                  <label class="form-check-label" for="<%= item[i]._id %>"
                    ><%= item[i].title %></label
                  >
                </td>
                <td>
                  <label class="form-check-label" for="<%= item[i]._id %>"
                    >$<%= item[i].price %></label
                  >
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary">Add Category</button>
        </div>
      </form>
    </div>
  </div>
</div>
