<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table" id="dataTable" cellspacing="0">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Collections</th>
            <th scope="col">Products</th>
            <th scope="col">Last Updated</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < collection.length; i++ ) { %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= collection[i].name %></td>
            <td><%= collection[i].itemId.length %> Products</td>
            <td><%= collection[i].lastUpdate %></td>
            <td>
              <form
                action="/admin/collection/<%= collection[i].id %>?_method=DELETE"
                method="POST"
              >
                <a
                  href="javascript:void()"
                  type="button"
                  class="btn btn-sm btn-custom button-update"
                  data-id="<%= collection[i].id %>"
                  data-name="<%= collection[i].name %>"
                >
                  Edit
                </a>
                <button type="submit" class="btn btn-sm btn-custom">
                  Delete
                </button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('modal_collection') %> <%- include('../../partials/js') %> <%-
include('add_modal_collection') %> <%- include('edit_modal_collection') %> <%-
include('edit_add_modal_collection') %>
